{{!-- index page --}}

<div class="jumbotron">
	<h1>Welcome to Microblog</h1>
	<p>Microblog is a microblog system based on Node.js</p>
	<a class="btn btn-primary btn-lg" href="/login">login</a>
	<a class="btn btn-default btn-lg" href="/reg">reg</a>
</div>
